body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
}
li a{
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    border:2px solid white;
    border-radius: 8px;
    padding:2px 10px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 16px;
}

/* nav a {
    text-decoration: none;
    color: #fff;
} */
nav li:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
#login,#signup{
    text-decoration: none;
    border:2px solid white;
    border-radius: 8px;
    padding:2px 10px;
}


section {
    padding: 2rem;
}

.slidesshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    display: none;
    
}
  img {
    width: 100%;
  }
  button{
    display: inline-flexbox;
    justify-content: center;
    text-align: center;
    position:absolute;
    left: 500px;
  }
  
 
  


.property-management {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}


.property-list {
    background-color: #f0f0f0;
    padding: 1.5rem;
    /* border-radius: ; */
    text-align: center;
    width: 60%;
    /* height: 10%; */
    margin:1%
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: block;
    bottom: 0;
    width: auto;
}
